/* Desktop Menu */
@import "../../modules/_base.scss";
.header__menu{
    float:left;
    margin-left:10px;
    display:none;

    @include media($desktop){
        display:block;
    }

    @include media($large){
        margin-left:30px;
    }

    @include media(min-width em(1280)){
        margin-left:55px;
    }
}

/*First DesktopMenu Level*/
.h-menu{
    @extend .g-clearlist;
    font-size:0;
    position:relative;
    z-index:1000;
}
.h-menu__item{
    display:inline-block;
    @include font-size(16px);
    line-height:100%;
}
.h-menu__link{
    display:inline-block;
    @include px2rem(padding, 26px 3px 0);
    text-decoration:none;
    @include px2rem(letter-spacing, -.5px);
    position:relative;

    &:hover,
    &:active,
    &.hover,
    &.current{
        color:$primary-alt;
    }

    @include media($large){
        @include px2rem(padding, 26px 15px 0);
        letter-spacing:0;
    }
}

.has-menu .h-menu__link{
    &:after{
        content:'\e808';
        font-family:'fontello';
        position:absolute;
        top:60px;
        left:50%;
        @include font-size(18px);
        margin-left:-8px;
        z-index:1001;
        display:none;
    }

    &:hover,
    &.hover{
        &:after{
            display:block;
        }
    }
}

/*Second DesktopMenu Level*/
.h-submenu{
    @extend .g-clearfix;
    list-style-type:none;
    padding:53px 0 16px;
    margin:0;
    position:absolute;
    top:100%; left:0;
    width:100%;
    z-index:1000;
    background:#fff;
    box-sizing:border-box;
    border-left:1px solid $border-color;
    border-bottom:1px solid $border-color;
    border-right:1px solid $border-color;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    box-shadow:0 1px 1px rgba(#000, .1);
    display:none; //покажем скриптом

    &:before,
    &:after{//скроем бордер по краям (на уровне хидера)
        content:'';
        width:4px;
        height:53px;
        background:#fff;
        position:absolute;
        top:0;
        z-index:1001;
    }

    &:before{
        left:-2px;
    }
    &:after{
        right:-2px;
    }
}

.h-submenu__item{
    float:left;
    width:(100%)/3;
    @include omega(3n);
}
.h-submenu__link{
    display:block;
    padding:6px 10px;
    line-height:1.1;
    color:$text-color;
    text-decoration:none;
    font-weight:300;

    &:hover,
    &:active,
    &.current{
        background:#f1f1f1;
        color:$primary-alt;
    }

    @include media($large){
        padding:6px 15px;
    }
}

/*Second DesktopMenu Level - 2 column*/
.h-submenu--half{
    .h-submenu__item{
        width:50%;
        &:nth-child(3n+1){
            clear:none;
        }
        @include omega(2n);
    }
}

/*Scroller for Desktop Submenu*/
.h-menu__scroll{//обертка для скроллера
    display:none;
    height:240px;
    padding:53px 0 16px;
    position:absolute;
    top:100%; left:0;
    width:100%;
    z-index:1000;
    box-sizing:border-box;
    border-left:1px solid $border-color;
    border-bottom:1px solid $border-color;
    border-right:1px solid $border-color;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    box-shadow:0 1px 1px rgba(#000, .1);
    background:#fff;

    &:before,
    &:after{//скроем бордер по краям (на уровне хидера)
        content:'';
        width:4px;
        height:53px;
        background:#fff;
        position:absolute;
        top:0;
        z-index:1001;
    }

    &:before{
        left:-2px;
    }
    &:after{
        right:-2px;
    }

    .h-submenu{
        position:static;
        padding:0;
        border:none;
        border-radius:0;
        box-shadow:none;

        &:before,
        &:after{
            display:none;
        }
    }
}

.h-menu__inner{//этот блок будет скроллится
    height:100%;
    padding-right:8px;
    overflow:hidden;
}

