@import "../../modules/_base.scss";
/*Consultation Block*/
.b-consultation{
    @extend .p-block;
    box-shadow:0 1px 3px rgba(#000, .4);
    position:relative;
    z-index:1;//перекрыть тенью следующий блок
}
.b-consultation__info{
    @include font-size(18px);
    line-height:2;
    text-align:center;
    color:$title-color;
}
.b-consultation__form{
    width:100%;
    max-width:520px;
    margin:0 auto;
    text-align:center;

    @include media($tablet){
        text-align:left;
        .g-btn{
            margin-left:20px;
        }
    }
}