@import "../../modules/_base.scss";
/*Inner Page Preview*/
.p-preview{
    padding:30px 0;
    background-position:center bottom;
    background-repeat:no-repeat;
    background-size:cover;
    box-sizing:border-box;
    position:relative;

    &:before{
        content:'';
        display:block;
        position:absolute;
        top:0; right:0; bottom:0; left:0;
        @include linear-gradient(to bottom, #effbee, #7acacb);
        z-index:-1;
    }

    @include media(max-width 767px){
        background-image:none !important;
    }

    @include media($tablet){
        padding:37px 0 0;
        height:538px;
        background-size:unset;
        overflow:hidden;
    }
}
.p-preview__inner{
    @extend .g-inner;
    position:relative;
    @include media($tablet){
        height:501px;//+паддинг сверху(37 пикселей) = 538 пикселей - общая высота баннера на десктопе
    }
}

.p-preview__content{
    @include media($tablet){
        position:absolute;
        bottom:55px;
    }
}

.p-preview__title,
.p-preview__subtitle{
    display:block;
    line-height:1.2;
    color:#010101;
}

.p-preview__title{
    margin-bottom:5px;
    @include font-size(24px);
    font-weight:500;
    text-transform:uppercase;

    @include media($tablet){
        @include font-size(36px);
    }
}
.p-preview__subtitle{
    margin-bottom:30px;
    @include font-size(18px);

    @include media($tablet){
        @include font-size(24px);
    }
}

.p-preview__list{
    list-style-type:none;
    padding:0;
    margin:0 0 45px 0;
    @include font-size(18px);
    font-weight:300;

    li{
        display:block;
        margin-bottom:8px;

        &:before{
            content:'\e80a';
            font-family:'fontello';
            margin-right:14px;
            color:#8bdfbe;
            font-size:120%;
            vertical-align:middle;
        }
    }
}

.p-preview__btn{
    @extend .g-btn;
    margin:0;
    @include px2rem(height, 54px);
    @include px2rem(line-height, 54px);
    @include px2rem(border-radius, 27px);
}
.p-preview__btn--xl{
    display:none;
}
.p-preview__btn--xs{
    display:block;
    width:248px;
    margin-left:auto;
    margin-right:auto;
}

@include media($tablet){
    .p-preview__btn--xl{
        display:inline-block;
    }
    .p-preview__btn--xs{
        display:none;
    }
}

/*Page Banner Reccomended Block*/
.b-reccomend{
    width:248px;
    height:144px;
    margin:30px auto 0;
    box-sizing:border-box;
    padding:5px;
    border:5px solid #b6d3a7;
    border-color:rgba(#b6d3a7, .8);
    border-radius:20px;
    background-color:#fff;
    background-color:rgba(#fff, .8);
    box-shadow:0 1px 6px rgba(#000, .5);
    background-image:url(../img-common/check.png);
    background-position:center center;
    background-repeat:no-repeat;

    @include media($tablet){
        position:absolute;
        bottom:55px; right:0;
        margin:0;
    }

    @include media($large){
        margin-right:-100px;
    }
}
.b-reccomend__title{
    display:block;
    font-weight:700;
    text-transform:uppercase;
    color:#c20458;
    @include font-size(22px);
    @include px2rem(letter-spacing, .9px);
}
.b-reccomend__subtitle{
    @include font-size(12px);
    color:$text-color;
    text-transform:uppercase;
}