@import "../../modules/_base.scss";
/*Main Page Preview*/
.b-preview{
    padding:30px 0 23px;
    background-color:#509998;
    background-image:url(../img/b-preview/b-preview-sm.jpg);
    background-position:center bottom;
    background-repeat:no-repeat;
    background-size:cover;
    color:#fff;
    position:relative;
    z-index:1;

    &:after{
        content:'';
        display:block;
        position:absolute;
        top:0; right:0; bottom:0; left:0;
        background:rgba(#00497f, .3) url(../img/b-preview/pattern.png) repeat;
        z-index:-1;
    }

    @include media($small){
        background-image:url(../img/b-preview/b-preview-md.jpg);
    }
    @include media($desktop){
        background-image:url(../img/b-preview/b-preview-xl.jpg);
    }
}

.b-preview__title,
.b-preview__subtitle{
    display:block;
    margin-bottom:36px;
    line-height:1.125;
    text-transform:uppercase;
    color:#fff;
    text-align:center;
}
.b-preview__title{
    @include font-size(24px);
}
.b-preview__subtitle{
    font-weight:500;
    @include font-size(32px);

    @include media($desktop){
        text-align:left;
    }
}
.b-preview__inner{
    width:100%;
    max-width:940px;
    margin:0 auto;

    @include media($desktop){
        @extend .g-as-table;
    }
}
.b-preview__column{
    box-sizing:border-box;

    @include media($desktop){
        width:50%;
        padding-right:20px;
        display:table-cell;
        vertical-align:middle;
    }

    @include media($large){
        width:42%;
    }
}
.b-preview__column--last{
    padding:0;
    text-align:center;
    @include media($large){
        width:58%;
        text-align:right;
    }
}

.b-preview__info{
    margin-bottom:31px;
    @include font-size(14px);
    font-weight:300;
    text-align:center;

    @include media($desktop){
        text-align:left;
    }
}

.b-preview__list{
    max-width:400px;
    list-style-type:none;
    padding:0;
    margin:0 auto 18px;

    @include media($desktop){
        max-width:unset;
        margin:0;
    }
}
.b-preview__item{
    display:block;
    margin-bottom:15px;
    padding-left:80px;
    height:51px;
    position:relative;
    @include font-size(18px);
    line-height:1.3;
    font-weight:300;

    &:last-child{
        margin-bottom:0;
    }

    &:before{
        content:'';
        display:block;
        width:60px;
        height:51px;
        position:absolute;
        left:0; top:0;
        background-image:url(../img/b-preview/b-preview-icon.png);
        background-repeat:no-repeat;
    }
}
.b-preview__item--1{
    &:before{
        background-position:0 0;
    }
    
}
.b-preview__item--2{
    &:before{
        background-position:0 -51px;
    }
}
.b-preview__item--3{
    &:before{
        background-position:0 -102px;
    }
}
.b-preview__item--4{
    &:before{
        background-position:0 -153px;
    }
}

.b-preview__caption{
    @extend .g-as-table;
}
.b-preview__text{
    margin:0;
    display:table-cell;
    vertical-align:middle;
}