@import "../../modules/_base.scss";
/*Main Info Block*/
.b-info{
    padding:30px 0;
    border-bottom:1px solid $border-color;
    background-color:#f9f9f9;

    .g-title{
        margin-bottom:45px;
    }
}
.b-info__inner{
    width:100%;
    max-width:940px;
    margin:0 auto;
    @extend .g-clearfix;
}
.b-info__col{
    float:left;
    width:100%;
    min-height:1px;
    box-sizing:border-box;
}

.b-info__col--first{
    text-align:center;

    @include media($tablet){
        width:31.92%;
        padding-right:20px;
    }

    @include media($large){
        min-height:240px;
    }
}
.b-info__col--last{
    @include media($tablet){
        width:68.08%;
    }
}

.b-info__img{
    @extend .g-max-full-width;
    margin-bottom:20px;

    @include media($large){
        max-width:none;
        margin-left:-120px;
    }
}
.b-info__text{
    @include font-size(14px);
    font-weight:300;

    b, strong{
        font-weight:500;
    }

    @include media($tablet){
        padding-top:20px;
    }
}

.b-info__text--first{
    @include media($desktop){
        padding:30px 20px 0 0;
    }
}
.b-info__text--last{
    @include media($desktop){
        padding:30px 0 0 20px;
    }
}


.b-info__list{
    @extend .g-clearlist;
    font-size:1px;
    line-height:0;
    text-align:center;

    &:after{
        content: '';
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        display: none;
    }

    @include media($desktop){
        text-align:justify;
        text-align-last: justify;

        &:after{
            display:inline-block;
        }
    }
}
.b-info__item{
    @include font-size(16px);
    line-height:normal;
    vertical-align:top;

    @include media($desktop){
        display:inline-block;
    }
}

.b-info__btn{
    @extend .g-btn;
    width:220px;

    @include media($desktop){
        width:auto;
    }
}
.b-info__btn--clear{
    @extend .g-btn--clear;
}