@import "../../modules/_base.scss";

/*Header Mobile Menu Toggle Button*/
.header__menu-btn,
.header__callback-btn{
    float:right;
    @include px2rem(height, 34px);
    @include px2rem(width, 34px);
    @include px2rem(line-height, 34px);
    padding:0; 
    margin:0;
    border:1px solid $border-color;
    border-radius:2px;
    background:#fff;
    @include font-size(28px);
    text-align:center;
    outline:none;
    box-sizing:border-box;

     [class^="icon-"]:before, [class*=" icon-"]:before{
         margin:0;
     }
}

.header__menu-btn{
    margin-left:20px;
    color:$title-color;

    &:hover,
    &:focus{
        border-color:$primary;
        color:$primary;
    }

    @include media($small){
        margin:23px 0 17px 20px;
    }

    @include media($desktop){
        display:none;
    }
}
.header__callback-btn{
    color:$primary-bright;

    &:hover,
    &:focus{
        border-color:$primary-bright;
    }

    @include media($mobile){
        display:none;
    }
}

/*Header Action Block*/
.header__phone,
.h-callback{
    @include font-size(16px);
    color:$title-color;
    text-decoration:none;
    text-align:right;
    line-height:1.06;
    white-space:nowrap;
    display:none;
    position:relative;

    &:hover,
    &:active{
        color:$primary;
    }

    @include media($mobile){
        display:block;
    }
}
.h-callback__inner{
    display:inline-block;
    border-bottom:1px dashed $text-color;
    font-weight:300;
}

.header__phone{
    @include media($small){
        @include px2rem(margin,22px 0 6px);
        @include font-size(18px);
        line-height:1.33;
    }
}
.h-callback{
    &:hover,
    &:active{
        .h-callback__inner{
            border-color:$primary;
        }
    }
    @include media($small){
        @include font-size(14px);
    }
}