@import "../modules/_base.scss";

@import "page/_breadcrumbs.scss";
@import "page/_main-banner.scss";//баннер на главной странице
@import "page/_consultation.scss"; //блок заказать консультацию
@import "page/_use.scss";//блок "применение"
@import "page/_features.scss"; //блок "благотворное влияние"
@import "page/_main-info.scss"; //осн. информационный блок
@import "page/_manager.scss"; //блок консультация менеджера
@import "page/_video-review-slider.scss"; //слайдер видео-отзывов
@import "page/_review-single.scss";//блок с одним текстовым отзывом
@import "page/_page-banner.scss";//баннер внутренней страницы
@import "page/_composition.scss";//блок состав продукта
@import "page/_counters.scss";//счетчики
@import "page/_steps.scss"; //шаги "как заказать"
@import "page/_sertificates.scss"; //блок сертификаты (статичный)
@import "page/_sertificates-slider.scss";//слайдер сертификатов
@import "page/_review-slider.scss";//слайдеры отзывов (видо+текст, аудио+текст)
@import "page/_i-map.scss";//интерактивная SVG карта
@import "page/_action-block.scss";//акционный блок + таймер
@import "page/_scroll-up.scss";


/*Standart Page Info Block*/
.p-block{
    padding:30px 0;
    background:#fff;
    border-bottom:1px solid $border-color;
}

.p-block--alt{
    background:#f9f9f9;
}

/*Standart Page Info Block Buttons List*/
.p-btn-list{
    list-style-type:none;
    padding:0;
    margin:24px 0 15px;
    font-size:0;
    text-align:center;

    @include media($tablet){
        text-align:right;
    }
}
.p-btn-list__item{
    display:block;
    @include font-size(16px);

    @include media($tablet){
        display:inline-block;
        margin-left:14px;
        &:first-child{
            margin-left:0;
        }
    }
}

.p-btn-list__btn{
    @extend .g-btn;
    width:220px;

    @include media($tablet){
        width:auto;
    }
}
.p-btn-list__btn--clear{
    @extend .g-btn--clear;
}

