@import "base";
/* Buttons */
.g-btn{
    display: inline-block;
    @include px2rem(height, 38px);
    @include px2rem(padding, 0 30px);
    color:#fff;
    text-align: center;
    @include font-size($project-line-height/2);
    @include px2rem(line-height, 38px);
    letter-spacing:1px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: $primary;
    border-radius:$border-radius;
    border: 1px solid $primary;
    cursor: pointer;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active{
        color:#fff;
        background-color:darken($primary, 10%);
        outline:0;
    }
}
