@import "base";
/* Buttons */
.g-btn{
    display: inline-block;
    @include px2rem(height, 36px);
    @include px2rem(padding, 0 18px);
    color:#fff;
    text-align: center;
    @include font-size(16px);
    @include px2rem(line-height, 36px);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    font-weight:400;
    @include linear-gradient(to bottom, #fd4f33, $primary-bright);
    @include px2rem(border-radius, 18px);
    border: 1px solid $primary-bright;
    cursor: pointer;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active{
        color:#fff;
        @include linear-gradient(to top, #fd4f33, $primary-bright);
        outline:0;
    }

    @include media($desktop){
        @include px2rem(padding, 0 30px);
    }
}

.g-btn--clear{
    border:1px solid $border-color;
    background:#fff;
    color:#20c38a;

    &:hover,
    &:active,
    &:focus{
        border-color:$primary-bright;
        @include linear-gradient(to top, #fd4f33, $primary-bright);
        color:#fff;
    }
}


/*Show short button for small screen & large button for desktop*/
.g-buttonbox{
    text-align:center;
}

.g-butoonbox__xl{
    display:none;
}

@include media($tablet){
    .g-buttonbox--right{
        text-align:right;
    }
    .g-buttonbox--left{
        text-align:left;
    }
    .g-buttonbox__xs{
        display:none;
    }
    .g-butoonbox__xl{
        display:inline-block;
    }
}

