@import "base";
/* Forms */

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    @include appearance(none);
}

.g-input,
.g-select,
.g-textarea{
    width:100%;
    @include px2rem(padding, 6px 10px);//The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius:$border-radius;
    color:$text-color;
    box-shadow: none;
    box-sizing: border-box;

    @include placeholder{
        color:#888888;
        text-overflow:ellipsis;
    }

    &:hover,
    &:focus{
        border-color:$primary;
        outline:0;
    }
}

.g-input,
.g-select{
    @include px2rem(height, 38px);
}

.g-textarea{
    @include px2rem(min-height, 65px);
}

.g-label{
    display: block;
    @include px2rem(margin-bottom, $project-line-height/4);
    font-weight: bold;
}
.g-label__body{
    display: inline-block;
    @include px2rem(margin-left, $project-line-height/4);
    font-weight: normal;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline; }




/*form notices*/
.g-notice{
    @include px2rem(padding, 16px 20px);
    @include px2rem(margin, $project-line-height/2 0);
    border:1px solid $primary;
    border-radius:$border-radius;
    text-align:center;
    position:relative;
    display:none;

    p{
        @include px2rem(margin, $project-line-height/4 0);
    }
}
.g-notice__close{
    position:absolute;
    top:5px;
    right:5px;
    text-decoration:none;
    cursor:pointer;
}

.g-notice--bad{
    color:red;
    border-color:red;

    .g-notice__close{
        color:red;
    }
}
