@import "base";
/* Forms */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    @include appearance(none);
}

.g-input,
.g-select,
.g-textarea{
    width:100%;
    @include px2rem(padding, 6px 10px);//The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius:$border-radius;
    color:$title-color;
    box-shadow: none;
    @include font-size(16px);
    box-sizing: border-box;

    @include placeholder{
        color:$border-color;
        text-overflow:ellipsis;
    }

    &:hover,
    &:focus{
        border-color:$primary-alt;
        outline:0;
    }
}

.g-input,
.g-select{
    @include px2rem(height, 36px);
}

.g-textarea{
    @include px2rem(min-height, 65px);
}

.g-label{
    display: block;
    @include px2rem(margin-bottom, $project-line-height/4);
    font-weight: bold;
}
.g-label__body{
    display: inline-block;
    @include px2rem(margin-left, $project-line-height/4);
    font-weight: normal;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

/*Phone Input*/
.g-input--phone{
    border:none;
    border-bottom:1px solid $border-color;
    border-radius:0;
    font-weight:500;
    @include font-size(24px);
    text-align:center;
    
}





