@import "base";
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.g-container {
    @include outer-container();
    @include px2rem(padding, 0 10px);
    box-sizing:border-box;
}

.g-row{
    @include row();  
}

.lt-ie9{
    .g-container,
    .g-row{
        @extend .g-clearfix;
    }
}


/*Default Grid*/
.g-col{
  width: 100%;
  float: left;
  box-sizing: border-box;
  min-height:0.01%;

  @include media($tablet){
      margin-left:$grid-gutter;
      &:first-child{
          margin-left:0;
      }    
  }
}

@include media($tablet){
    .g-col--one-half{
        width:(100%-$grid-gutter)/2;
    }
    
    .g-col--one-third{
        width:(100%-$grid-gutter*2)/3;
    }
    .g-col--one-third-center{
        width:(100%-$grid-gutter*2)/3;
        margin-left:(100%-$grid-gutter*2)/3 + $grid-gutter !important;
    }
    .g-col--two-thirds{
        width: 2*(100%-$grid-gutter*2)/3 + $grid-gutter;
    }
    .g-col--one-fourth{
        width:(100% - $grid-gutter*3)/4;
    }
    .g-col--one-fifth{
        width: (100%-$grid-gutter*4)/5;
    }
    .g-col--one-sixth{
        width: (100%-$grid-gutter*5)/6;
    }
}
