@import "base";
html,
button,
input,
select,
textarea {
    color: $text-color;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* Base Styles */
html{
    font-size:100%;
    height:100%;
}


/* Typography*/
h1, h2, h3, h4, h5, h6, .g-title{
  margin-top: 0;
  @include px2rem(margin-bottom, $project-line-height);
  line-height:strip-units($project-line-height/16);
  color:$title-color;
  font-weight:normal;
}
.g-title{
    display:block;
    @include font-size(24px);
    margin-bottom:2*$project-line-height;
    text-align:center;
    text-transform:uppercase;
    color:$title-color;
}
.g-subtitle{
    margin:-20px 0 16px;
    @include font-size(18px);
    line-height:1.2;
    color:$title-color;
    text-align:center;
}

b, strong{
    font-weight:700;
}

.g-brand-color{
    color:$primary;
}

/* Links */
a {
  color: $primary; }


/* Lists */
ul {
    list-style: disc outside; }
ol {
    list-style: decimal outside; }
ol, ul {
    margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
    @include px2rem(margin, $project-line-height/2 0 $project-line-height/2 30px);
}

.g-clearlist{
    list-style-type:none;
    margin:0;
    padding:0;
}


.g-styled-ol-list{
    margin:0;
    padding:0 0 0 45px;
    counter-reset:li;
    text-align:left;
    @include font-size(16px);
    font-weight:300;
    line-height:1.125;

    li{
        margin:18px 0;
        position:relative;
        list-style:none;

        &:before{
            content:counter(li);
            counter-increment:li;
            display:block;
            @include px2rem(width, 24px);
            @include px2rem(height, 24px);
            @include px2rem(line-height, 24px);
            text-align:center;
            border-radius:50%;
            background:#0aaca9;
            color:#fff;
            @include font-size(16px);
            position:absolute;
            left:-45px; top:-3px;
        }
    }
}




/* Spacing */
p {
  margin-top: 0; }

button,
.g-btn {
    @include px2rem(margin-bottom, $project-line-height/2);
}
input,
textarea,
select,
fieldset {
    @include px2rem(margin-bottom, $project-line-height/2);
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol{
    @include px2rem(margin-bottom, $project-line-height);
}

/* Misc */
hr {
    @include px2rem(margin, $project-line-height 0);
    border-width: 0;
    border-top: 1px solid $border-color;
}

/* Transitions */
a, button, input[type="button"], input[type="submit"],
#{$all-text-inputs}, select{
    @include transition-property(border-color,color,background-color);
    @include transition-duration(.15s);
    @include transition-timing-function(ease-in);
}


/*Helper classes*/
.g-hidden {
    display: none !important;
    visibility: hidden;
}

.g-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.g-invisible {
    visibility: hidden;
}

.g-clearfix{
    @include clearfix; //bourbon clearfix
}
.lt-ie9{
    .g-clearfix{
        @include clear-fix();
    }
}