@import "base";

/* Utilities */
.g-text-center{text-align:center;}
.g-text-left{text-align:left;}
.g-text-right{text-align:right;}

img.g-full-width{clear:both;display:block;width:100%;height:auto;margin:0 0 0 0;}
img.g-img-left{
    float:left;
    @include px2rem(margin, 0 20px 9px 0);
    @extend .g-max-full-width;
}
img.g-img-right{
    float:right;
    @include px2rem(margin, 0 0 20px 9px);
    @extend .g-max-full-width;
}

.g-full-width {
  width: 100%;
  box-sizing: border-box;
}
.g-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.g-as-table{
    display:table;
    width:100%;
    height:100%;
    table-layout:fixed;
}
.g-as-cell{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.g-img-centered{
    @include img-centered;
}
.g-video-wrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.g-video-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    border:none;
}